name: arch-ansible-latest
on:
  # yamllint disable-line rule:truthy
  workflow_dispatch:
    push:
      paths:
        - 'arch-ansible-latest/**'
    pull_request:
      paths:
        - 'arch-ansible-latest/**'
jobs:
  docker:
    runs-on: [self-hosted]
    strategy:
      fail-fast: false
      matrix:
        dockerimage:
          - arch-ansible
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and export to Docker
        uses: docker/build-push-action@v2
        with:
          context: ${{ matrix.dockerimage }}-latest
          load: true
          tags: rndmh3ro/docker-${{ matrix.dockerimage }}:test
      -
        name: Test
        run: |
          docker run --rm rndmh3ro/docker-${{ matrix.dockerimage }}:test
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ${{ matrix.dockerimage }}-latest
          push: true
          tags: rndmh3ro/docker-${{ matrix.dockerimage }}:latest
